@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @keyframes move-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  ::view-transition-new(root) {
    animation: 0.25s 0.1s linear both move-up;
  } */
}